.ProductList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.ProductList__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-image: url(https://phonoteka.org/uploads/posts/2022-02/1644290011_1-phonoteka-org-p-fon-gadzheti-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ProductList span {
  color: yellow;
}
.ProductList__item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.ProductList__item a {
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 5px;
}

.ProductList__item button {
  background: linear-gradient(
    90deg,
    rgb(89, 14, 113) 0%,
    rgb(116, 9, 121) 35%,
    rgb(134, 136, 6) 100%
  );
}
@media (max-width: 768px) {
  .ProductList {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .ProductList__item img {
    max-height: 150px;
  }

  .ProductList__item span {
    font-size: 12px;
  }
}
