.OrderList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.OrderList-order {
  background-color: #c7ab10;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  box-sizing: border-box;
  transition: all 0.4s ease-in-out;
}

.OrderList-order:hover {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(-5px);
}

.OrderList-orderHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.OrderList-orderName {
  font-size: 20px;
  font-weight: bold;
}

.OrderList-orderPhone {
  font-size: 16px;
  color: #252525;
  font-weight: bold;
}

.OrderList-orderAddress {
  font-size: 16px;
  color: #292929;
  font-weight: bold;
}

.OrderList-orderCart {
  display: flex;
  flex-direction: column;
}

.OrderList-product {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  color: rgb(24, 24, 217);
  transition: all 0.3s ease-in-out;
}

.OrderList-product:hover {
  transform: scale(1.05);
}

.OrderList-productImage {
  width: 100px;
  height: 90px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.OrderList-productImage:hover {
  transform: rotate(-10deg) scale(1.1);
}

.OrderList-productDetails {
  display: flex;
  flex-direction: column;
}

.OrderList-productName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.OrderList-productPrice {
  font-size: 16px;
  color: #bc11d2;
  margin-bottom: 5px;
}

.OrderList-productQuantity {
  font-size: 16px;
  margin-bottom: 5px;
  color: #bc11d2;
}

.OrderList-productTotal {
  font-size: 18px;
  font-weight: bold;
  color: #bc11d2;
}
