.CartItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #a60bd0;
  border-radius: 5px;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}


.CartItem img {
  width: 100%; 
  max-width: 200px;
  height: auto;
  margin-bottom: 10px;
 
}