.AddCategory {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 10px;
  margin-bottom: 10px;
}

.AddCategory input[type="text"] {
  padding: 4px 14px;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-family: inherit, sans-serif;
  background-color: rgb(239, 214, 172);
  
  
}


.AddCategory button {
  display: inline-block;
  padding: 8px 12px;
  border: none;
  border-radius: 3px;
  background: linear-gradient(
    90deg,
    rgb(89, 14, 113) 0%,
    rgb(116, 9, 121) 35%,
    rgb(174, 177, 6) 100%
  );
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.AddCategory button:hover {
  background-color: #6c3bd1;
}
