.Logo img {
  max-width: 35%; /* максимальная ширина изображения */
  height: auto; /* высота изображения автоматически рассчитывается */
  margin-left: 5%; /* отступ слева на 5% от родительского контейнера */
}
