
@keyframes neonGlow {
  0% {
    box-shadow: 0 0 0 0 rgba(128, 49, 180, 0.8);
  }
  50% {
    box-shadow: 0 0 10px 5px rgba(128, 49, 180, 0.8);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(128, 49, 180, 0.8);
  }
}

.butt {
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 5px 8px;
  margin-top: 3px;
  border-radius: 4px;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(89, 14, 113) 0%,
    rgb(116, 9, 121) 35%,
    rgb(128, 49, 180) 100%
  );
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  animation: neonGlow 1.5s infinite;
  transition: background 0.3s ease;
}

.butt:hover {
  background: linear-gradient(
    90deg,
    rgb(89, 14, 113) 0%,
    rgb(116, 9, 121) 35%,
    rgb(128, 49, 180) 100%
  );
  animation: none;
  box-shadow: 0 0 10px 5px rgba(128, 49, 180, 0.8);
}
@media (max-width: 768px) {
  .AddToCart button {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }
}
