.AddToCart {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.AddToCart button {
  font-weight: bold;
  color: #fff;
  border: none;
  padding: 5px 8px;
  margin-top: 3px;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    rgb(89, 14, 113) 0%,
    rgb(116, 9, 121) 35%,
    rgb(128, 49, 180) 100%
  );
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .AddToCart button {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }
}
