.AddToCart {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.AddToCart button {
  font-weight: 600;
  color: #fff;
  background-color: #6b46c1;
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .AddToCart button {
    font-size: 1rem;
    padding: 0.4rem 0.8rem;
  }
}
