.Category h1 {
  font-size: 36px;
  animation: fadeIn 0.5s ease-in-out;
  color: blueviolet;
  text-align: center;
  margin-top: 20px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
