.Contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
  font-family: Arial, sans-serif;
  color: #fbf4f4;
}
.info {
  width: 80%;
  text-align: center;
  
}

.info h1 {
  font-size: 36px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
}

.info p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

.info a {
  color: #0f4c81;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.info a:hover {
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.8);
}

.Contact h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0 10px 0;
  text-align: center;
  width: 100%;
}

.Contact h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 0 10px 0;
  text-align: center;
  width: 100%;
}

.Contact p {
  font-size: 16px;
  margin: 10px 0;
  text-align: center;
  padding: 10px 10px 10px;
}

.Contact a {
  color: #0c13ec;
  text-decoration: none;
  border-bottom: 2px solid #333;
  transition: border-bottom 0.2s ease-in-out;
}

.Contact a:hover {
  border-bottom: 2px solid #a10892;
}

.employee {
  background: linear-gradient(
    90deg,
    rgb(89, 14, 113) 0%,
    rgb(116, 9, 121) 35%,
    rgb(75, 49, 180) 100%
  );
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  text-align: center;
  width: 300px;
}

.employee img {
  width: 80%;
  border-radius: 50%;
  
}

.employee p {
  
  font-size: 16px;
}
@media (max-width: 768px) {
  .Contact {
    padding: 10px;
  }

  .info {
    width: 100%;
  }

  .info h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .info p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }

  .employee {
    width: 100%;
    margin: 10px;
    padding: 10px;
  }

  .employee img {
    width: 60%;
  }

  .Contact h2,
  .Contact h3,
  .Contact p {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .Contact {
    padding: 10px;
  }

  .info {
    width: 100%;
  }

  .info h1 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .info p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
  }

  .employee {
    width: 100%;
    margin: 10px;
    padding: 10px;
  }

  .employee img {
    width: 60%;
  }

  .Contact h2,
  .Contact h3,
  .Contact p {
    text-align: center;
  }
  
  /* Дополнительные стили для мобильных устройств */
  .Contact {
    flex-direction: column;
    align-items: center;
  }

  .info h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }

  .info p {
    font-size: 14px;
    line-height: 18px;
  }

  .employee {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
  }

  .employee img {
    width: 50%;
  }
}