

/* Общие стили */
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

input {
  padding: 6px 5px;
  font-size: 15px;
  margin-right: 5px;
  border-radius: 10px;
  border: none;
  background-color: #f2f0f5;
  color: rgb(0, 0, 0);
}

button {
  background: linear-gradient(
    90deg,
    rgb(89, 14, 113) 0%,
    rgb(116, 9, 121) 35%,
    rgb(134, 136, 6) 100%
  );
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

.search-error {
  display: flex;
  justify-content: flex-end;
  color: red;
  font-weight: bold;
  margin-top: 20px;
}

.previous-search {
  margin-top: 20px;
  color: yellow;
  display: flex;
  justify-content: flex-end;
  margin-bottom: -px;
}

.welcome-message {
  margin-top: 50px;
  text-align: center;
  color: yellow;
}

.image-container img {
  border-radius: 10px;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  flex-basis: 100%;
  position: relative;
}

.image-container:nth-child(1),
.image-container:nth-child(4),
.image-container:nth-child(7) {
  flex-basis: 100%;
  height: 590px;
}

.image-container:nth-child(2),
.image-container:nth-child(5) {
  flex-basis: 50%;
  height: 500px;
}

.image-container:nth-child(3),
.image-container:nth-child(6) {
  flex-basis: 50%;
}

.image {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  border: 1px solid purple;
}

.text-overlay {
  max-width: 250px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(81, 210, 6);
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.122);
  
  /* Начальное состояние */
  opacity: 0;
  transition: opacity 1.3s ease;
}

.image-container:hover .text-overlay {
  /* Анимация при наведении на фотографию */
  opacity: 1;
}

.image-container:nth-child(1) .text-overlay,
.image-container:nth-child(3) .text-overlay,
.image-container:nth-child(5) .text-overlay,
.image-container:nth-child(7) .text-overlay {
  left: 10px;
  transform: translate(0, -50%);
}

.image-container:nth-child(2) .text-overlay,
.image-container:nth-child(4) .text-overlay,
.image-container:nth-child(6) .text-overlay {
  right: 10px;
  transform: translate(0, -50%);
}

.image-container:nth-child(7) .text-overlay {
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Адаптивность через media */


/* Изменения для мобильных устройств */
@media (max-width: 768px) {
  form {
    justify-content: center;
  }
  
  .image-container:nth-child(1),
  .image-container:nth-child(4),
  .image-container:nth-child(7),
  .image-container:nth-child(2),
  .image-container:nth-child(5),
  .image-container:nth-child(3),
  .image-container:nth-child(6) {
    flex-basis: 100%;
  }
  
  .text-overlay {
    max-width: 100%;
    font-size: 1.2rem;
  }
}
/* Изменения для мобильных устройств */
@media (max-width: 768px) {
  .image-container:nth-child(1),
  .image-container:nth-child(4),
  .image-container:nth-child(7),
  .image-container:nth-child(2),
  .image-container:nth-child(5),
  .image-container:nth-child(3),
  .image-container:nth-child(6) {
    flex-basis: 100%;
  }

  .text-overlay {
    max-width: 100%;
    font-size: 1.2rem;
  }
}

/* Изменения для планшетов */
@media (max-width: 1024px) {
  .image-container:nth-child(1),
  .image-container:nth-child(4),
  .image-container:nth-child(7) {
    flex-basis: 100%;
  }

  .image-container:nth-child(2),
  .image-container:nth-child(5),
  .image-container:nth-child(3),
  .image-container:nth-child(6) {
    flex-basis: 50%;
  }

  .text-overlay {
    max-width: 200px;
    font-size: 1.4rem;
  }
}