.ThankYou {
  position: relative;
  margin-top: 20px;
}

.ThankYouHeader {
  position: relative;
  background-image: url("https://belon.club/uploads/posts/2023-04/1681470010_belon-club-p-ochen-radostnii-chelovek-oboi-2.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.ThankYouIcon {
  width: 500px;
  height: auto;
}
.thank {
  background-color: black;
}

h1,
p {
  position: relative;
  color: #b20ccb;
  text-align: center;
}

h1 {
  font-size: 32px;
  animation: slideIn 1s ease-in-out;
}

p {
  font-size: 16px;
  animation: slideIn 1s ease-in-out;
  animation-delay: 0.5s;
  margin-top: 10px;
}

.ContactDetails {
  margin-top: 20px;
  text-align: center;
  animation: slideIn 1s ease-in-out;
  animation-delay: 1s;
  background-color: black;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Медиа-запросы для адаптивности */

@media screen and (max-width: 768px) {
  .ThankYouHeader {
    height: 300px;
  }

  .ThankYouIcon {
    width: 300px;
  }

  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
  }
}
