.NavToggle {
  display: none;
  padding: 0;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(89, 14, 113) 0%,
    rgb(116, 9, 121) 35%,
    rgb(75, 49, 180) 100%
  );
  border: none;
}
.NavToggle .line {
  display: block;
  width: 30px;
  height: 3px;
  margin: 6px auto;
  background-color: rgb(21, 21, 21);
  transition: 0.4s;
}
@media (max-width: 550px) {
  .NavToggle {
    display: inline-block;
  }
}
