.Search {
  background-color: #ffffff;
  width: 120px;
  border-radius: 10px;
  position: relative;
  max-height: 30px;
  white-space: nowrap;
  box-sizing: border-box;
}
.Search input {
  background: none;
  border: 0;
  border-radius: 15px;
  color: blueviolet;
  line-height: 30px;
  font-weight: bold;
  outline: none;
  padding: 0;
}
.Search .NoResults {
  position: absolute;
}
.Search .SearchResults {
  position: absolute;
  
  top: 50px;
  z-index: 99;
}
.Search .searcher {
  color: blueviolet;
  margin: 8px;
}
.Search input::placeholder {
  color: blueviolet;
}
@media screen and (max-width: 999px) {
  .Search {
    margin: 20px 5px;
    width: 130px;
  }
  .Search .searcher {
    margin: 6px 20px 0 0;
  }
}
@media screen and (max-width: 789px) {
  .Search {
    width: 100px;
    margin: 15px 30px;
  }
  .Search .SearchResults {
    right: -25px;
  }
}
