.CategoryList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: #74961f;
  border-radius: 40px;
}

.CategoryList h2 {
  font-size: 25px;
  text-align: center;
  color: #fff;
}

.CategoryList li {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.1);
  background-color: #fff;
  padding: 5px 10px;
  margin-bottom: 15px;
}

.CategoryList li a {
  display: block;
  color: #333;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.CategoryList li a:hover {
  background-color: #74961f;
  color: #fff;
}