@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");
.CategoryList {
  margin-top: 76px;
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px #8a2be2;
  max-width: 200px;
}

.CategoryList h2 {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.CategoryList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.CategoryList li {
  margin-bottom: 5px;
  background-color: #d60f0f;
  

}

.CategoryList a {
  
  display: block;
  padding: 10px;
  border-radius: 5px;
  color: #f6f2f2;
  background-color: #eaeaea;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-weight: bold;
}

.CategoryList a:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.CategoryList a:nth-child(odd) {
  background-color: #300977bd;
  color: #ffffff;
}

.CategoryList a:nth-child(even) {
  background-color: #ffa69e;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .CategoryList ul {
    display: flex;
    flex-direction: column;
  }

  .CategoryList li {
    margin: 5px 0;
  }

  .CategoryList a {
    padding: 5px;
    font-size: 1rem;
  }
}
