@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
.CategoryList {
  background: linear-gradient(90deg, rgb(40, 40, 46) 0%, rgb(65, 138, 36) 35%, rgb(255, 119, 0) 100%);
  border-radius: 10px;
  padding: 20px;
  font-family: 'Roboto Slab', serif;
}

.CategoryList h2 {
  
  color: white;
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.CategoryList ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.CategoryList li {
  margin: 10px;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
  transition:  0.3s ease-in-out;
}

.CategoryList li:hover {
  transform: scale(1.05);
}

.CategoryList li a {
  display: block;
  padding: 15px;
  color: #fafafa;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
}

.CategoryList li a:before {
  content: '';
  display: block;
  height: 10px;
  background-color: #000000;
  opacity: 0.6;
  transition:  0.3s ease-in-out;
}

.CategoryList li a:hover:before {
  opacity: 1;
}

.CategoryList li a:after {
  content: '';
  display: block;
  height: 10px;
  background-color: #16b636;
  opacity: 0.6;
  transition:  0.3s ease-in-out;
}

.CategoryList li a:hover:after {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .CategoryList ul {
    flex-direction: column;
    align-items: center;
  }

  .CategoryList li {
    width: 100%;
    margin: 10px 0;
  }
}