@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap");

.Nav {
  background-color: #ffffff;
  
  padding: 10px;
  font-family: "Roboto Slab", serif;
  width: 100%;
}

.Nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavItem {
  margin: 0 15px;
  padding: 6px;
  border-radius: 10px;
  background: linear-gradient(90deg, rgb(28, 28, 32) 0%, rgb(116, 9, 121) 35%, rgb(75, 49, 180) 100%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.NavItem:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.NavItem a {
  text-decoration: none;
  color: #fffcfc;
  font-size: 17;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .Nav ul {
    flex-direction: column;
  }

  .NavItem {
    margin: 10px 0;
  }

  .NavItem a {
    font-size: 1rem;
  }
}
