.Nav {
  display: flex;
color: linear-gradient(#544a7d, #ffd452);
  margin: 0 auto;
}

.Nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 10px;
}

.Nav a {
  color: #1ec421;
  text-decoration: none;
  padding: 50px;
  font-weight: bold;
  font-size: 18px;
}

.Nav a:hover {
  color: #000;
}

.Nav .dropdown {
  position: relative;
}

.Nav .dropdown ul {
  background-color: #fff;
  border: 1px solid #eee;
  border-top: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.Nav .dropdown ul li {
  display: block;
  justify-content: space-around;
}

.Nav .dropdown ul a {
  padding: 10px;
  display: block;
  justify-content: space-around;
}

.Nav .dropdown:hover > ul {
  display: block;
}

.Nav i {
  margin-left: 20px;
}
