.DeleteCategory {
  background-color: rgb(239, 214, 172);
  width: 200px;
  border: none;
  color: #960ebf;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s ease;
}



.DeleteIcon {
  
  
  
 
  margin-left: 10px;
}





