.DeleteCategory {
  background-color: rgb(180, 23, 23);
  width: 200px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-size: 20px;
  transition: transform 0.2s ease;
}

.DeleteIcon {
  margin-left: 10px;
}
