.Auth {
  display: flex;
  align-items: center;
}

.Auth button {
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  text-transform: uppercase;
}

.Auth .button-one {
  background-color: #4285F4;
}

.Auth .button-one:hover {
  background-color: #1A73E8;
}

.Auth .button-two {
  background-color: #DB4437;
}

.Auth .button-two:hover {
  background-color: #C6271E;
}

.Auth span {
  color: #fff;
  font-size: 16px;
  margin-left: 10px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .Auth {
    flex-direction: column;
    align-items: flex-start;
  }

  .Auth button {
    margin: 10px 0 0 0;
  }
}