.auth-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-name {
  text-decoration: none;
  color: #c507d3;
  font-weight: bold;
  
}

.sign-in,
.sign-out {
  background: linear-gradient(
    90deg,
    rgb(89, 14, 113) 0%,
    rgb(116, 9, 121) 35%,
    rgb(134, 136, 6) 100%
  );
  color: #fff;
  border: none;
  margin: 0 15px;
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  cursor: pointer;
  
  
  margin-left: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}
.sign-in {
  width: 70px;
  margin-top: 15px;
}

@media (max-width: 576px) {
  .auth-container {
    flex-direction: column;
    gap: 5px;
  }
}
