.Auth {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.button-one,
.button-two {
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button-one {
  background-color: #f9a826;
}

.button-two {
  background-color: #e74040;
}

.button-one:hover,
.button-two:hover {
  background-color: #c68625;
}

span {
  font-size: 16px;
  font-weight: bold;
  color: #555;
}

@media screen and (max-width: 600px) {
  .Auth {
    flex-direction: column;
  }
  
  .button-one,
  .button-two {
    width: 100%;
  }
}